<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/mainstyle.css">
    <title>Football</title>
</head>
<body>
<div id="block-body">
    <header>
        <div class="top-menu">
            <ul>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/main">Main</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/leagues">Leagues</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/clubs">Clubs</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/players">Players</a></li>
            </ul>
        </div>
    </header>
    <div id="block-content"></div>
</div>
<div>
    <form th:method="POST"  th:object="${club}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="year_of_birth">Enter year: </label>
        <input type="number" th:field="*{year_of_birth}" id="year_of_birth"/>
        <br/>
        <label for="points">Enter points: </label>
        <input type="number" th:field="*{points}" id="points"/>
        <br/>
        <input type="submit" value="Create"/>
    </form>
</div>
</body>
</html>