<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="resources/liststyle.css">
    <title>Leagues</title>
</head>
<body>
<div id="block-body">
    <header>
        <div class="top-menu">
            <ul>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/main">Main</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/leagues">Leagues</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/clubs">Clubs</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/players">Players</a></li>
            </ul>
        </div>
    </header>
    <div id="block-content"></div>
</div>
<div>
    <h3 th:text="${league.getName()}"></h3>
    <p th:text="${'Prize money: ' + league.getPrizefond() + ' mln'}"></p>
    <p>Clubs: </p>
</div>
<div th:each="club:${clubs}" class="rectangle">
    <a th:href="@{/clubs/{id}(id=${club.getId()})}"
       th:text="${club.getName()}"></a>
</div>
<hr/>
<hr/>
<div>
    <p><a th:href="@{/clubs/{id}/new(id=${league.getId()})}">Add Club</a></p>
    <p><a th:href="@{/leagues/{id}/edit(id=${league.getId()})}">Edit</a></p>
<form th:method="DELETE" th:action="@{/leagues/{id}(id=${league.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</div>
</body>
</html>