<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/mainstyle.css">
    <link rel="stylesheet" type="text/css" href="resources/liststyle.css">
    <title>Leagues</title>
</head>
<body>
<div id="block-body">
    <header>
        <div class="top-menu">
            <ul>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/main">Main</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/leagues">Leagues</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/clubs">Clubs</a></li>
                <li><a href="http://localhost:8080/web_lab_war_exploded2/players">Players</a></li>
            </ul>
        </div>
    </header>
    <div id="block-content"></div>
</div>
<div th:each="player:${players}" class="rectangle">
    <a th:href="@{/players/{id}(id=${player.getId()})}"
       th:text="${player.getName() + ' ' + player.getSourname()}"></a>
</div>
<hr/>
<hr/>
</body>
</html>